<section class="center-text">

  <h1 class="index-header">All Collections </h1>

  <form action="/collections/new" method="get">
    <input class="button button-new" type="submit" value="+">
  </form>

  <section class="index-container">
    <% @collections.each do |col| %>
      <section class="collection-container">
        <h2>Name: <a href="/collections/<%= col.id %>"><%= col.name %></h2></a>
        
        <% if current_user == col.user %>
          <form action="/collections/<%= col.id %>/edit" method="get">
            <input type="submit" value="Edit Collection">
          </form>
        <% end %>

          <h3>User: <a href="/users/<%= col.user.slug %>"><%= col.user.username %> </h3></a>
          <h3>Console: <a href="/consoles/<%= col.console.slug %>"><%= col.console.name %> </h3></a>
          <h3>Games: <%= col.games.size %></h3>
          <ol>
            <% col.games.each do |game| %>
              <li><a href="/games/<%= game.slug %>"><%= game.name %></a></li>
            <% end %>
          </ol>
          <br><br>
      </section>
    <% end %>
  </section>
</section>