<section class="center-text">

  <h1 class="index-header">All Collections </h1>

  <form action="/collections/new" method="get">
    <input id="new-button" class="button button-new" type="submit" value="+">
  </form>

  <section class="index-container">
    <% @collections.each do |col| %>
      <section class="index-sub-container">
        <h3 class="index-sub-collection-header"><a href="/collections/<%= col.id %>"><%= col.name %></h3></a>
        <h3 class="index-sub-collection-header">User: <a href="/users/<%= col.user.slug %>"><%= col.user.username %> </h3></a>
        <h3 class="index-sub-collection-header">Console: <a href="/consoles/<%= col.console.slug %>"><%= col.console.name %> </h3></a>
        <h3 class="index-sub-collection-header">Games: <%= col.games.size %></h3>

        <% if current_user == col.user %>
          <form class="button-edit-container" action="/collections/<%= col.id %>/edit" method="get">
            <input class="button button-edit" type="submit" value="Edit">
          </form>
        <% end %>

      </section>
    <% end %>
  </section>
</section>