<form action="/collections" method="post">
  <h1>Create a Collection</h1>

  <% if @errors %>
    <% @errors.each do |error| %>
      <p style="color: red;"><%= error %></p>
    <% end %>
  <% end %>
  
  <label for="">Collection Name: </label>
  <br>
  <input type="text" name="collection[name]" required>
  <br><br>

  <h3>Select an existing Console or create a new one:</h3>
  <br>
  <% @consoles.each do |console| %>
    <input type="radio" name="collection[console_id][]" id="<%= console.id %>" value="<%= console.id %>"><span><%= console.name %></span>
    <br>
  <% end %>

  <br>
  <p>or</p>
  <label for="">Console Name:</label>
  <br>
  <input type="text" name="console[name]">
  <br><br>

  <h3>Select existing Games or create a new one:</h3>
  <br>
  <% @games.each do |game| %>
    <input type="checkbox" name="collection[game_ids][]" id="<%= game.id %>" value="<%= game.id %>"><span><%= game.name %></span>
    <br>
  <% end %>

  <br>
  <p>or</p>
  <label for="">Game Name:</label>
  <br>
  <input type="text" name="game[name]">
  <br><br>

  <br>
  <input type="submit" value="Create Collection">
</form>