<section class="center-text">
  <form action="/collections" method="post">

    <h1 class="main-header-large">Create a Collection</h1>
    
    <input class="input" type="text" name="collection[name]" placeholder="Collection Name" required>

    <h3 class="main-header-med">Select an existing Console or create a new one:</h3>
    <p class="small-text">* Required</p>

    <% @consoles.each do |console| %>
      <input type="radio" name="collection[console_id]" id="<%= console.id %>" value="<%= console.id %>"><span><%= console.name %></span>
      <br>
    <% end %>

    <br>
    <p>or</p>
    <input class="input" type="text" name="console[name]" placeholder="Console Name">

    <h3 class="main-header-med">Select existing Games or create a new one:</h3>
    <p class="small-text">* Optional</p>
    <% @games.each do |game| %>
      <input type="checkbox" name="collection[game_ids][]" id="<%= game.id %>" value="<%= game.id %>"><span><%= game.name %></span>
      <br>
    <% end %>

    <br>
    <p>or</p>

    <input class="input" type="text" name="game[name]" placeholder="Game Name">
    <br><br>

    <br>

    <% if @errors %>
      <% @errors.each do |error| %>
        <p style="color: red;"><%= error %></p>
      <% end %>
    <% end %>

    <input type="hidden" name="collection[user_id]" value="<%= current_user.id %>">
    <input class="button button-signup button-large" type="submit" value="Create Collection">
  </form>
</section>