<section class="center-text">

  <h1 class="main-header-large"><%= @collection.name %></h1>

  <section class="show-container">

    <section class="show-sub-container">
      <h2>User: <a href="/users/<%= @collection.user.slug %>"><%= @collection.user.username %> </h2></a>
      <h2>Console: <a href="/consoles/<%= @collection.console.slug %>"><%= @collection.console.name %> </h2></a>
      <h2>Games: <%= @collection.games.size %></h2>

      <ol>
        <% @collection.games.each do |game| %>
          <li><a href="/games/<%= game.slug %>"><%= game.name %></a></li>
        <% end %>
      </ol>

      </section>
    </section>

    <% if current_user == @collection.user %>
      <form action="/collections/<%= @collection.id %>/edit" method="get">
        <input type="submit" value="Edit Collection">
      </form>
    <% end %>

</section>