<h1>Name: <%= @collection.name %></h1>

 <% if current_user == @collection.user %>
  <form action="/collections/<%= @collection.id %>/edit" method="get">
    <input type="submit" value="Edit Collection">
  </form>
<% end %>

<h2>User: <a href="/users/<%= @collection.user.slug %>"><%= @collection.user.username %> </h2></a>
<h2>Console: <a href="/consoles/<%= @collection.console.slug %>"><%= @collection.console.name %> </h2></a>
<h2>Games: <%= @collection.games.size %></h2>
<ol>
  <% @collection.games.each do |game| %>
    <li><a href="/games/<%= game.slug %>"><%= game.name %></a></li>
  <% end %>
</ol>