<h2>All Consoles:</h2>
<form action="/consoles/new" method="get">
  <input type="submit" value="Create a Console">
</form>
<br>

<section>
  <% @consoles.each do |console| %>
    <h3>Name: <a href="/consoles/<%= console.slug %>"><%= console.name %></a></h3>
    <h3>Manufacturer: <%= console.manufacturer ||= 'Unknown' %></h3>
    <h3>Release Date: <%= console.release_date ||= 'Unknown' %></h3>
    <p>Missing or Incorrect Information? </p>
    <a href="/consoles/<%= console.slug %>/edit">Edit Console</a>
    <br><br>
  <% end %>
</section>