<section class="center-text">

  <h1 class="index-header">All Consoles</h1>

  <form action="/consoles/new" method="get">
    <input id="new-button" class="button button-new" type="submit" value="+">
  </form>
  <br>

  <section>
    <% @consoles.each do |console| %>
      <h3>Name: <a href="/consoles/<%= console.slug %>"><%= console.name %></a></h3>
      <h3>Manufacturer: <%= console.manufacturer ||= 'Unknown' %></h3>
      <h3>Release Date: <%= console.release_date ||= 'Unknown' %></h3>
      <h3>Stats:</h3>
      <h3>Unique Games: <%= console.games.uniq.length %></h3>
      <h3>Total Owners: <%= console.users.uniq.length %></h3>
      <h3>Total Collections: <%= console.collections.length %></h3>
      <p>Missing or incorrect information? </p>

      <form action="/consoles/<%= console.slug %>/edit" method="get">
        <input type="submit" value="Edit Console">
      </form>
      <br><br>
    <% end %>
  </section>
</section>