<h1 class="main-header-large"><%= @console.name %></h1>

<section class="show-container">

  <section class="show-sub-container">
    <h2>Manufacturer: <span class="text-stat">
      <% if @console.manufacturer == "" || @console.manufacturer == nil%>
          <%= 'Unknown' %>
      <% else %>
          <%= @console.manufacturer %>
      <% end %>
    </span></h3>
    
    <h2>Release Date: <span class="text-stat">
    <% if @console.release_date == "" || @console.release_date == nil %>
          <%= 'Unknown' %>
        <% else %>
          <%= @console.release_date %>
        <% end %>
    </span></h2>

    <h2>Unique Games: <span class="text-stat"><%= @console.games.uniq.length %></span></h2>
    <h2>Total Owners: <span class="text-stat"><%= @console.users.uniq.length %></span></h2>
    <h2>Total Collections: <span class="text-stat"><%= @console.collections.length %></span></h2>
  </section>
</section>

<form action="/consoles/<%= @console.slug %>/edit" method="get">
  <input class="button button-edit show-edit-button" type="submit" value="Edit">
</form>
