
<h2>Name: <%= @console.name %></h2>
<h3>Manufacturer: <%= @console.manufacturer ||= 'Unknown' %></h3>
<h3>Release Date: <%= @console.release_date ||= 'Unknown' %></h3>
<h3>Stats:</h3>
<h3>Unique Games: <%= @console.games.uniq.length %></h3>
<h3>Total Owners: <%= @console.users.uniq.length %></h3>
<h3>Total Collections: <%= @console.collections.length %></h3>
<p>Missing or Incorrect Information? </p>

<form action="/consoles/<%= @console.slug %>/edit" method="get">
  <input type="submit" value="Edit Console">
</form>