<section class="center-text">

  <h1 class="index-header"><%= @user.username %></h1>

  <section class="user-container">

    <section class="user-sub-container">
      <h3>Member Since: </h3>
      <h3><%= @user.created_at.month %> / <%= @user.created_at.day %> / <%= @user.created_at.year %></h3>
      <h3>Collections: <%= @user.collections.size %></h3>
      <h3>Consoles: <%= @user.consoles.size %></h3>
      <h3>Games: <%= @user.games.size %></h3>
      <h3>Favorite Console: STUB<%=  %></h3>
      <p>*by number of games</p>
    </section>

  </section>

  <h1 class="index-header">All Collections: </h1>

  <% if @user == current_user %>
    <form action="/collections/new" method="get">
      <input class="button button-new-collection" type="submit" value="New Collection">
    </form>
  <% end %>

  <section class="index-container">
  
    <% @user.collections.sort_by(&:name).each do |col| %>
      <section class="index-sub-container">

        <h3 class="user-sub-container-header"><a href="/collections/<%= col.id %>"><%= col.name %></h3></a>
        <h3 class="user-sub-container-header">Console: <a href="/consoles/<%= col.console.slug %>"><%= col.console.name %> </h3></a>
        <h3 class="user-sub-container-header">Games: <%= col.games.size %></h3>

        <% if @user == current_user %>
          <form class="button-edit-container" action="/collections/<%= col.id %>/edit" method="get">
            <input class="button button-edit" type="submit" value="Edit">
          </form>
        <% end %>

      </section>
    <% end %>

  </section>
</section>
