<h1 class="main-header-large"><%= @game.name %></h1>

<section class="show-container">

  <section class="show-sub-container">
    <h2>Publisher: <span class="text-stat">
      <% if @game.publisher == "" or @game.publisher == nil %>
        "Unknown"
      <% else %>
        <%= @game.publisher %>
      <% end %>
    </span></h2>
    <h2>Developer: <span class="text-stat">
     <% if @game.developer == "" or @game.developer == nil %>
        "Unknown"
      <% else %>
        <%= @game.developer %>
      <% end %>
    </span></h2>
    <h2>Release Date: <span class="text-stat">
    <% if @game.release_date == "" or @game.release_date == nil %>
        "Unknown"
      <% else %>
        <%= @game.release_date %>
      <% end %>
    </span></h2>
    <h2>Owners: <span class="text-stat"><%= @game.users.uniq.length %></span></h2>
    <h2>Collections: <span class="text-stat"><%= @game.collections.length %></span></h2>
    <h2>Consoles: <span class="text-stat"><%= @game.consoles.uniq.length %></span></h2>
  </section>
</section>

<form action="/games/<%= @game.slug %>/edit" method="get">
  <input class="button button-edit show-edit-button" type="submit" value="Edit Game">
</form>