<!DOCTYPE html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

    <title>JoyStick</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
  </head>
  <body>

    <% if logged_in? %> 
      <nav id="navbar">
        <div id="col-1">
          <form id="app-name-container" action="/">
            <input id="nav-name-med" type="submit" class="name name-med" value="JoyStick">
            <input id="nav-name-sm" type="submit" class="name name-med" value="JS">
          </form>
        </div>

        <div id="col-2">
          <ul>
            <li><a class="nav-link <%= 'active' if request.path_info.match?(/collections/) %>" href="/collections">Collections</a></li>
            <li><a class="nav-link <%= 'active' if request.path_info.match?(/consoles/) %>" href="/consoles">Consoles</a></li>
            <li><a class="nav-link <%= 'active' if request.path_info.match?(/games/) %>" href="/games">Games</a></li>
            <li><a class="nav-link <%= 'active' if request.path_info.include?(current_user.slug) %>" href="/users/<%= current_user.slug %>">Account</a></li>
          </ul>
        </div>

        <div id="col-3">
          <!-- Add search bar later -->
          <form action="/logout" method="post">
            <input type="hidden" name="_method" value="delete">
            <input id="button-logout" type="submit" value="Logout">
          </form>
        </div>
      </nav>
    <% end %>

    <div class="wrapper">

        <%= yield %>

      <footer class="branding">
        <small>&copy; 2020 <strong>JoyStick</strong></small>
      </footer>
    </div>
  </body>
</html>
